*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

.slider {
    background-color: rgb(0, 97, 29);
}
.slideshow{
   
    height: 630px;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(211, 211, 211);
}

.slider .slideshow h1{
font-size: 80px;
}
.slider .slideshow i{
    font-size: 80px;
}
